body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
}

.container {
  position: relative;
  z-index: 1;
}

.waves {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url('/src/assets/waves.svg') repeat-x;
  background-size: contain;
  animation: animateWaves 10s linear infinite;
  z-index: 0;
}

@keyframes animateWaves {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
